.container{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: #6386e8;
    height: 100vh;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #091e5a;
}

.message{
    color: snow;
}